<div class="event">
    <div class="content">
      <div class="summary">
        <a class="user">
          <em>
            <%= message.user.username %> 
          </em>
        </a>
          : <%= message.body %>
      </div>
    </div>
</div>