<div class="ui small menu inverted">
    <div class="ui container">
        <%= link_to 'Chatroom', chatroom_path, class: "item" %>
        <a class="item">
            Messages
        </a>
        <div class="right menu">
            <div class="ui dropdown item">
                Account <i class="dropdown icon"></i>
                <div class="menu">
                    <% if logged_in? %>
                        <%= link_to "Log out", logout_path, method: :delete, class: "item" %>
                    <% else %>
                        <%= link_to 'Log in', login_path, class: "item" %>
                        <a class="item">Sign up</a>
                    <% end %>
                </div>
            </div>
            <div class="item">
                <% if logged_in? %>
                    <%= link_to "Log out", logout_path, method: :DELETE, class: "ui primary button"  %>
                <% else %>
                    <div class="ui primary button">Log in</div>
                <% end %>
            </div>
        </div>
    </div>
</div>